body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

h1{
  text-align: center;
  padding: 20px;
  color: #333; 
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-card{
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.product-card:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px  rgba(0, 0, 0, 0.1);
}

.product-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3{
  margin: 15px 0 10px;
  font-size: 20px;
  color: #333;
}
  
.product-card p{
  font-size: 14px;
  color: #666;
}

.price{
  font-size: 18px;
  color: green;
  font-weight: bold;
  margin: 10px 0;
}
.btn{
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn-hover{
  background: #005600;
}
@media(max-width:600px){
  .product-image{
    height:150px
  }
}
